<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> new Project</title>
</head>

<body>
    <h2>{{>header}}</h2>



    <h2 class="titleHeader">{{pageTitle}}</h2>
    <h2>{{welcomeMessage}}</h2>


    <h3 id="error"></h3>

    <p id="location"></p>
    <p id="forecast"></p>
    <p id="latitude"></p>
    <p id="longitude"></p>
    <p id="temperature"></p>

    <script src="js/script.js"></script>
</body>

</html>